.wrapper {
    height: auto;
    margin-top: -30%;
    background-image: url(../register/images/reg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 800px;
    /* border-radius: 10%; */
    border-top-left-radius: 27%;
    border-bottom-right-radius: 27%;
    border-style: groove;
    padding: 10px;
    /* position: relative; */
    /* min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; */
 }

 @media (max-width: 991px) {
    .wrapper {
      min-width: 768px; } 
}
  @media (max-width: 767px) {
    .wrapper {
      min-width: auto;
      background: none;
      padding-top: 0;
      padding-bottom: 0; }
}
    